html{
  width:100%;
  height:100%;
}

body{
  margin:0px;
  padding:0px;
  font-family:sans-serif;
}

.container{
  margin:0px;
  padding:0px;
}

.logoclass{
  height:70px;
  width:100%;
  background-image: linear-gradient(
    rgb(4 175 223),
    rgb(11 148 195) 18%,
    rgb(9 72 118) 77%,
    rgb(8 41 68)
  );
  padding:0;

}

.logoclass img{
  margin:0 0 0 50px;
  width:70px;
  height:70px;
  padding:10px;
  background: #fff;
  border-radius:50%;
}

h2, p{
  margin-left:50px;
}

form{
  margin:40px 0px 50px 50px;
}

.input_field{
  margin:15px 0px 15px 0px;
}

input[type=text]{
  padding:12px 15px;
  width:28%;
  font-size:16px;
  outline:none;
  border-radius:4px;
  border:1px solid #0e0e0ea6;
}

input[type=password]{
  padding:12px 15px;
  width:28%;
  font-size:16px;
  outline:none;
  border-radius:4px;
  border:1px solid #0e0e0ea6;
}

a{
  color:darkred;
  font-size:18px;
  text-decoration:none;
}
a:hover{
  color:darkred;
  text-decoration:underline;
}

.checkbox{
  margin:10px 0px 10px 0px;
}

input[type=checkbox]{
  width:25px;
  height:30px;

}

button{
  padding:12px 15px;
  width:30%;
  text-align:center;
  background-color: #0073CF;
  color:#fff;
  font-size:16px;
  outline:none;
  border:none;
  border-radius:4px;
  cursor:pointer;

}

button:hover{
  border:2px solid #0073CF;
  color:#000;
  background:transparent;
}

  .footer{
     height: 200px;
    background: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
  
}
.footer img{
  max-width:100%;
/*  min-width: :100%;*/
}

@media only screen and (max-width: 768px){
  .logoclass img{
  margin:10px 0 0 10px;
  width:50px;
  height:50px;
  padding:0px;
  background: #fff;
  border-radius:50%;
}
  h2, p{
  margin-left:10px;
}
  form{
  margin:40px 0px 50px 10px;
}

.input_field{
  margin:15px 0px 15px 0px;
}

input[type=text]{
  padding:12px 15px;
  width:80%;
  font-size:16px;
  outline:none;
  border-radius:4px;
  border:1px solid #0e0e0ea6;
}

input[type=password]{
  padding:12px 15px;
  width:80%;
  font-size:16px;
  outline:none;
  border-radius:4px;
  border:1px solid #0e0e0ea6;
}
  
a{
  color:darkred;
  font-size:18px;
  text-decoration:none;
}
a:hover{
  color:darkred;
  text-decoration:underline;
}

.checkbox{
  margin:10px 0px 10px 0px;
}

input[type=checkbox]{
  width:25px;
  height:30px;

}

button{
  padding:12px 15px;
  width:96%;
  text-align:center;
  background-color: #0073CF;
  color:#fff;
  font-size:16px;
  outline:none;
  border:none;
  border-radius:4px;
  cursor:pointer;

}

button:hover{
  border:2px solid #0073CF;
  color:#000;
  background:transparent;
}
  .footer{
  height:500px;
    background:#333;
  
}
}